:root {
    --primary-color: #212121;
    --no-primary-color: #757575;
    --nav-color: #2196f3;
    --white: #ffffff;
    --background: #2f303a;
    --white-tel-em: rgba(255, 255, 255, 0.6);
    --border-color: #ececec;
    --items-color: #eeeeee;
    --icon-fill: #afb1b8;
  }
  body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0px;
  }
  li {
    margin: 0px;
  }
  p {
    margin: 0px;
  }
  img {
    display: block;
  }
  .visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }